@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Ms+Madi&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Schoolbell&display=swap");

body {
    background-color: rgb(116, 9, 9);
    font-family: "Quantico";
    font-size: 200%;
   
 }

 h1 {
   animation-name: CambioColor; 
 }

 h1:hover { 
    color: rgb(175, 232, 62);
 }

 .título {
    
    text-align: center;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    margin: 0 auto;
    

}

.posición {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .gif {
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    margin: 0 auto;


}

