@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Ms+Madi&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Schoolbell&display=swap");

body {
    background-color: rgb(116, 9, 9);
    font-family: "Quantico";
    font-size: 100%;
   
 }

body {
    background-color: rgb(4, 234, 62);

 }

.texto {
  font-size: 30px;
  color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width: 700px;
  margin: 0 auto;
}

.boton-mal {
  font-size: 20px;
  position: absolute;
  right: 25%;
  top: 90%;
  transform: translate(-50%, -50%);
}


.boton-bien {
    font-size: 20px;
    position: absolute;
    right: 60%;
    top: 90%;
    transform: translate(-50%, -50%);
}

