body {
    background-color: rgb(27, 234, 4);

 }

 .texto {
  font-size: 30px;
  color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width: 700px;
  margin: 0 auto;
}


.boton-final {
  font-size: 20px;
  position: absolute;
  right: 40%;
  top: 70%;
  transform: translate(-50%, -50%);
}
