body {
    background-color: rgb(225, 7, 7);

 }



.texto {
  font-size: 200px;
  color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width: 700px;
  margin: 0 auto;

 animation-name: CambioColor;
 animation: CambioColor 0.5s infinite;

}


 @keyframes CambioColor {
  0% {
    color: rgb(3, 3, 3);
  }

  50% {
    color: rgb(240, 8, 8);
  }

  100% {
    color: white;
  }
   
 



